# OSX
.DS_Store

# compiled PDFs
/*.pdf

# Resources
Resources/

# LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Build tool auxiliary files:
*.synctex
*.synctex.gz
*.synctex.gz(busy)

# Texpad
.texpadtmp/

# minted
_minted*
*.mintedcmd
*.mintedmd5
*.pyg

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace
